/*  your css code here. If applicable */
#grid{
   grid-template-rows: 124px 124px 124px 124px 124px;
	grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
    display: grid;
    gap: 5px;
	color: white;
	font-size: 30px;
    
#grid-area1{
	background-color: green;
	grid-column: span 4;
}

#grid-area2{
	background-color: green;
	grid-row: span 4;
}

	#grid-area3{
	background-color: green;
	grid-column: span 1;
}
	#grid-area4{
	background-color: green;
	grid-column: span 2;
}

	#grid-area5{
	background-color: green;
	grid-column: span 2;
}
	#grid-area6{
	background-color: green;
	grid-column: span 1;
}
	#grid-area7{
	background-color: green;
	grid-column: span 1;
}
	#grid-area8{
	background-color: green;
	grid-column: span 1;
}
	#grid-area9{
	background-color: green;
	grid-column: span 1;
}
	#grid-area10{
	background-color: green;
	grid-column: span 3;
}